body {
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--very-dark-blue-bg);
}

main {
  margin: auto;
  margin-top: 2rem;
  max-width: 80%;
  display: grid;
  row-gap: 2.5rem;
  color: var(--blue-txt);
}

h2,
h3 {
  color: var(--white-txt);
}

p {
  font-size: 0.8rem;
}

.first-section__top {
  display: flex;
  justify-content: space-between;
}
.first-section__top div:last-child {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.first-section__top div:last-child .white-txt {
  color: var(--white-txt);
  font-size: 0.8rem;
}
.first-section__top div:last-child .change-mode {
  position: relative;
  width: 3em;
  height: 1.5em;
  appearance: unset;
  background: linear-gradient(45deg, #126e54, #118866, #24dba7);
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.first-section__top div:last-child .change-mode::after {
  content: "";
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--very-dark-blue);
  border-radius: 50%;
  outline: none;
  top: 0.15em;
  left: 0.2em;
}
.first-section__top div:last-child .change-mode:checked::after {
  left: 1.55em;
  background-color: var(--white-txt);
}
.first-section__bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}
.first-section__bottom .first-section-card {
  background-color: var(--dark-blue-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0rem;
  padding: 1.5rem 0 1rem 0;
  font-size: 0.9rem;
  cursor: pointer;
}
.first-section__bottom .first-section-card div:first-child {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 0.8rem;
}
.first-section__bottom .first-section-card div:nth-of-type(2) {
  font-size: 2.5rem;
  color: var(--white-txt);
}
.first-section__bottom .first-section-card div:nth-of-type(3) {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.first-section__bottom .first-section-card div:last-child {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: var(--lime-green);
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.first-section__bottom .first-section-card .status {
  color: var(--bright-red) !important;
}
.first-section__bottom .first-section-card:hover {
  background-color: #323958;
}

.second-section__bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 1.2rem;
}
.second-section__bottom .second-section-card {
  background-color: var(--dark-blue-card);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 1.3rem 1rem 1.2rem;
  cursor: pointer;
}
.second-section__bottom .second-section-card div:first-child {
  font-size: 0.8rem;
}
.second-section__bottom .second-section-card div:nth-of-type(2),
.second-section__bottom .second-section-card div:last-child {
  justify-self: flex-end;
}
.second-section__bottom .second-section-card div:nth-of-type(3) {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  color: var(--white-txt);
}
.second-section__bottom .second-section-card div:last-child {
  margin-top: 1.8rem;
  align-self: flex-end;
  font-size: 0.7rem;
  color: var(--lime-green);
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.second-section__bottom .second-section-card .status {
  color: var(--bright-red) !important;
}
.second-section__bottom .second-section-card:hover {
  background-color: #323958;
}

/*# sourceMappingURL=layout.css.map */
